.container {
    display: grid;
    grid-template-areas: "products-list product-details";

    .productsListWrapper {
        grid-area: "products-list";
    }
    .productDetailsWrapper {
        grid-area: "product-details";
    }
}